{% if (filtreOfperms('agenda','myactions','delete')) %}
    <h4>HAVE A PERMISSION</h4>
{% else %}
    {{render(controller('App\\Controller\\SecurityController::accessForbidden'))}}
{% endif %}




{% if (filtreOfsubperms('produit','export')) %}
    <h4>SUCCESSFULLY</h4>
{% else %}
   {{render(controller('App\\Controller\\SecurityController::accessForbidden'))}}
{% endif %}





