<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="img/favicon.png" />
    
        <link rel="stylesheet" href="/public/plugins/fontawesome-free/css/all.min.css">
        
        <link rel="stylesheet" href="/public/plugins/daterangepicker/daterangepicker.css">
        
        <link rel="stylesheet" href="/public//plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        
        <link rel="stylesheet" href="/public/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="/public//plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
        
        <link rel="stylesheet" href="/public//dist/css/adminlte.css">
        <link rel="stylesheet" href="/public//dist/css/animate.css">
    
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet" type='text/css' media='all' />

        {% block stylesheets %}{% endblock %}
    </head>
    <body id="swup" class="transition-fade hold-transition sidebar-mini">
        <div class="wrapper">
            
            {% include 'default/navbar.php' %}
            {% include 'default/sidebar.php' %}


        {% block body %}{% endblock %}


        <aside class="control-sidebar control-sidebar-light">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
            <footer class="main-footer">
                <strong>Copyright &copy; 2020 <a href="https://openflex.cloud">Openflex.cloud</a>.</strong> All rights reserved.
            </footer>
        </div>
            <script src="/public/plugins/jquery/jquery.min.js"></script>
            <script src="/public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/public/plugins/select2/js/select2.full.min.js"></script>
            <script src="/public/plugins/jquery-ui/jquery-ui.min.js"></script>
            <script>
                $.widget.bridge('uibutton', $.ui.button)
            </script>
            <script src="/public/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
            <script src="/public/plugins/moment/moment.min.js"></script>
            <script src="/public/plugins/daterangepicker/daterangepicker.js"></script>
            <script src="/public/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
            <script src="/public/dist/js/bootstrap-datepicker.js"></script>
            <script src="/public/dist/js/adminlte.js"></script>
            <script src="/public/dist/js/search.js"></script>
            <script src="/public/dist/js/swup.min.js"></script>
            <script>
            $(function () {
                
                $('.select2').select2()

                //Initialize Select2 Elements
                $('.select2bs4').select2({
                theme: 'bootstrap4'
                })

                
                    
                //Timepicker
                $('#timepicker').datetimepicker({
                format: 'LT'
                })

                //Bootstrap Duallistbox
                $('.duallistbox').bootstrapDualListbox()

                

                $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
                });

            });
            $(function () {
                $("#datepicker").datepicker({ 
                    autoclose: false, 
                    todayHighlight: true
                }).datepicker('update', new Date());
            });

            $(function () {
                $("#datepicker1").datepicker({ 
                    autoclose: true, 
                    todayHighlight: true
                }).datepicker('update', new Date());
                $("#datepicker2").datepicker({ 
                    autoclose: true, 
                    todayHighlight: true
                }).datepicker('update', new Date());
            });

            </script>

{% block javascripts %}{% endblock %}

    </body>
</html>
